/*
 *= require bootstrap
 *= require_self
 */

body {
  color: #113B17;
  background-color: #A9CFAF;
}

a {
  color: white;
}

.logo {
  margin-top: -15px;
}

/*nav {
  background-color: #FAFA55;
}*/

.navbar-default a {
  color: #113B17;
  font-size: 15px;
}

footer p {
  font-size: 20px;
}

#site-header {
  padding: 20px 0;
  margin-bottom: 20px;
}

#site-footer {
  border-top: 1px solid gray;
  padding: 20px 0;
  margin-top: 20px;
}
